<%= javascript_include_tag "suggest", :plugin => 'incsearch'  %>
<%= javascript_include_tag "incsearch", :plugin => 'incsearch'  %>
<%= stylesheet_link_tag 'incsearch', :plugin => 'incsearch' %>



  <!--label>Customer Name</label>
    <input id="custName" type="text" name="pattern" value=" autocomplete="off" size="10" style="display: block" -->
  <div id="suggest" style="display:none; position:absolute;"></div>

  Test list view.
  <div id="view_area"></div>

<script>
//list id for Suggestion
var fieldId = 'issue_custom_field_values_1';

var list = [
  'toyota', 'nissan', 'subaru'
];


var request = new XMLHttpRequest();
  request.open("GET", "/incsearch.json");
  request.onreadystatechange = function() {
    if (request.readyState == 4 && request.status == 200) {
      var text = document.createTextNode(decodeURI(request.responseText));

      //PARSE
      var json = JSON.parse( text.data );
      list = new Array();

      var i;
      for(i = 0; i < json.length; i++){
        list.push(json[i]);
      }

     /* window.addEventListener ?
      window.addEventListener('load', startSuggest, false) :
      window.attachEvent('onload', startSuggest);

      window.addEventListener ?
      window.addEventListener('load', startIncSearch, false) :
      window.attachEvent('onload', startIncSearch);
      */

      startSuggest(); 
      startIncSearch(); 

    }
  }
request.send("");

var position = document.getElementById("suggest");
var refPosition = document.getElementById(fieldId);

try
  {
   position.style.top = (refPosition.offsetTop + refPosition.offsetHeight)+"px";
   position.style.left   = refPosition.offsetLeft+"px";
   position.style.zIndex = refPosition.style.zIndex;
  }
catch(e)
  {
    alert("Sorry!");
  }


function startSuggest() {
//  new Suggest.Local(//single
  new Suggest.LocalMulti(//multi
        //"custName",//input id
        fieldId,//input id
        "suggest", //output id 
        list,      //customer list 
        {dispMax: 20, interval: 1000, highlight: true}); //option
}



function startIncSearch() {
  new IncSearch.ViewList(
    //"custName",//input id
    fieldId,//input id
    'view_area', //
    list,        //
    {dispMax: 10, interval: 1000}); // 
}
</script>
