<% 
    companies = CustomValue.find_all_by_custom_field_id(1)
    @companies = Array.new 

    companies.each do |company|
      if !company.value.nil?
        @companies.push( company.value )
      end
    end

    #Distinct
    @companies.uniq!
%>


<label for="issue_custom_field_values_1" style="display:none; position:absolute;"></label>

<script>
//list id for Suggestion
var fieldId = 'issue_custom_field_values_1';


$( function (){
  var data = [
<% @companies.each do |c| %>
    { label:'<%= c %>', value:'<%= c %>'},
<% end %>
  ];

$( '#issue_custom_field_values_1' ).autocomplete({
  source: data,
  delay: 500,
  minLength: 1,
  autoFocus: true
});
});
</script>
